# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml
*.azurePubxml

# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
packages/
## TODO: If the tool you use requires repositories.config, also uncomment the next line
!packages/repositories.config

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
![Ss]tyle[Cc]op.targets
~$*
*~
*.dbmdl
*.[Pp]ublish.xml

*.publishsettings

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

_NCrunch*




# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
1.대내외활동/봉사동아리/2021학년도 동행봉사단[학과(전공)연계]프로그램 명단 양식.xlsx
1.대내외활동/봉사동아리/동행봉사단 활동 참가신청서(개인).hwp
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서(개인)_엄예진.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서(개인)_김은조.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서_남유정.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서_황진주.pdf
1.대내외활동/봉사동아리/2021학년도 동행봉사단[학과(전공)연계]프로그램 명단 양식.xlsx
*.tlog
*.pdb
*.log
*.idb
*.tlog
1.대내외활동/봉사동아리/~$2021학년도 동행봉사단[학과(전공)연계]프로그램 명단 양식.xlsx
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서_김남빈.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서_박근민.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서_문예진.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서_장주영.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서_정현수.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서_이선권.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서_엄예진.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서_김은조.pdf
1.대내외활동/봉사동아리/동행봉사단 활동 참가신청서(개인).docx
1.대내외활동/봉사동아리/~$2021학년도 동행봉사단[학과(전공)연계]프로그램 명단 양식.xlsx
1.대내외활동/봉사동아리/2021학년도 동행봉사단[학과(전공)연계]프로그램 명단 양식.xlsx
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서-암호화.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서_정재록.pdf
1.대내외활동/봉사동아리/참가신청서/동행봉사단 활동 참가신청서.pdf
1.대내외활동/전공튜터링/1회차_사진.png
1.대내외활동/봉사동아리/참가신청서/2021학년도 동행봉사단 프로그램 명단.xlsx
비전프로그래밍/실습용/.vs/실습용/v16/.suo
*.db
*.pdb
*.tlog
*.filters
1.대내외활동/봉사동아리/2. 2021학년도 동행봉사단[학과(전공)연계 프로그램] 지원서-활동계획서 및 예산서.hwp
1.대내외활동/봉사동아리/참가신청서/2021학년도 동행봉사단[학과(전공)연계]프로그램 명단 양식.xlsx
1.대내외활동/전공튜터링/사전만족도 미실시자.xlsx
1.대내외활동/집단상담/3회차/3회차.psd
1.대내외활동/집단상담/진로 집단 3회기.pdf
*.opendb
게임자료구조/게임자료구조/.vs/게임자료구조/v16/Browse.VC.db
*.db
1.대내외활동/봉사동아리/참가신청서/봉행동사단_DoD_참가신청서_명단.zip
게임자료구조/20193148_binaryTree.zip
게임자료구조/6주차과제/.vs/6주차과제/v16/.suo
*.vcxproj
*.user
*.ilk
게임자료구조/BinaryTree.zip
디지털 영상처리/~$디지털영상처리(Homework#02).pptx
1.대내외활동/전공튜터링/04.27-2회차-1.png
1.대내외활동/전공튜터링/04.27-2회차-1.png
1.대내외활동/전공튜터링/04.27-2회차-2.png
1.대내외활동/전공튜터링/04.27-2회차-1.png
1.대내외활동/전공튜터링/04.27-2회차-2.png
임베디드시스템/processing-3.5.4-windows64.zip
임베디드시스템/myAHRS_plus_i2c.zip
*.jar
임베디드시스템/processing-3.5.4/java/COPYRIGHT
*.properties
임베디드시스템/processing-3.5.4/java/lib/classlist
*.cfg
*.pf
*.data
임베디드시스템/processing-3.5.4/core/library/export.txt
*.bfc
*.ttf
1.대내외활동/통합성과경진대회/교수님 서명.jpg
*.$$$
*.tif
*.props
OpenCV_영상처리_학습자용/
컴퓨터그래픽스/벽돌깨기 게임/영상/조은희_컴퓨터그래픽스2021.mp4
컴퓨터그래픽스/벽돌깨기 게임/영상/컴퓨터그래픽스_황진주.mp4
임베디드시스템/유정이 서명.jpg
임베디드시스템/프로젝트/영상/발표영상.mp4
임베디드시스템/프로젝트/영상/발표영상__.mp4
임베디드시스템/프로젝트/영상/영상모음.zip
